<nav class="navbar sticky-top  navbar-expand-lg bg-theme">
  <div class="container">
    <a class="navbar-brand" href="#">Job Portal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let menu of menuArray" [ngClass]="menu.hasChildren ? 'dropdown' : ''">
          <a class="nav-link" [ngClass]="menu.hasChildren ? 'dropdown-toggle' : '' " href="#" [routerLink]="menu.routing"
          >{{menu.header}} <span class="sr-only"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menu.hasChildren">
            <a class="dropdown-item" href="#" *ngFor="let submenu of menu.children">{{submenu.header}}</a>
            
          </div>
        </li>
        <!-- <li *ngIf="isLoggedin"><button class="btn btn-primary" (click)="logout()">Logout</button></li> -->
      </ul>
    </div>
    <div *ngIf="isLoggedin">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i> {{userData.firstName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">By Pro</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logout()">LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
