.bg-theme {
  background: white;
  height: 80px;
  color: black;
  font-weight: 600;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
a {
  color: black; 
}
.dropdown:hover .dropdown-menu {
  display: block;
}